
:root{
    --headergray: rgb(148, 146, 146);
    --bodylight: rgb(204, 200, 200);
    --buttonblue: #3c5bbe;
    --borderdark: #0000;
}


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 8px 16px;
    background-color: var(--headergray);
    font-size: 1em;
<<<<<<< HEAD
    position: fixed;
    width: 100%;
}
 .p-tag {
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
 }
.main-page {
    flex: 1;
=======
    margin-bottom: 2em;
>>>>>>> cd33882f7d0e8555c094016e95e35eea22749152
}

body {
    background-color: var(--bodylight);
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    height: 100%;
    margin: 0;
}


.logo {
    width: 80px;
    height: auto;
    border-radius: 8px;
    margin-top: 0;
}


.produkt {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 1em;
    
}

.image-container {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.image-container img {
    width: 100%;
    max-width: 200px;
    height: auto;
    flex: 1 1 auto;
    border-radius: 8px;
}


.about-btn {
    padding: 8px 16px;
    background: #222;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;  
    font-weight: bold;
    transition: background 0.2s;
    
}

.about-btn:hover {
    background: var(--buttonblue);
}

.buttons {
   display: flex;
   justify-content: flex-end;
   gap: 2em;
}


.tapo-kamera {
    margin-top: 10em;
    margin-left: 3em;
    margin-bottom: 2em;
    font-size: 20px;
    
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    background-color: var(--headergray);
}
.footer-info h4 {
    
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-end;
}


/* @media ((min-width: 521px) (max-width: 767px)) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width: 520px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }
} */