body {
    background-color: rgb(255, 255, 255);
}
.logo {
    width: 70px;
    height: auto;
    border-radius: 8px;
    margin-top: 0;
    
}


header {
    /* display: grid;
    justify-self: start;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto auto repeat(2, 1fr);
    height: 8em;
    width: auto;
    align-items: center;
    border: 1px dashed hotpink; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 8px 16px;
    background-color: rgb(255, 255, 255);
}



