body {
    background-color: rgb(255, 255, 255);
}
.logo {
    width: 80px;
    height: auto;
    border-radius: 8px;
    margin-top: 0;
    
}

header {    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 8px 16px;
    background-color: rgb(255, 255, 255);

}

.about-btn {
     padding: 8px 16px;
    background: #222;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;  
    font-weight: bold;
    transition: background 0.2s;
    /* display: flex;
    align-items: center;
    justify-content: flex-end;  */

}

.about-btn:hover {
    background: #959794;
}
