
:root{
    --headergray: rgb(148, 146, 146);
    --bodylight: rgb(204, 200, 200);
    --buttonblue: #3c5bbe;
    --borderdark: #0000;
}


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body {
    display: grid;
    background-color: var(--bodylight);
    grid-template-columns: column;
    
}


    
header {
    background-color: var(--headergray);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: sticky;
    top: 0;
}

header h1 {
    white-space: nowrap; /*förbjuder radbrytning i h1 "AI"*/
    justify-self: center; /*centrerar horisontellt i sin grid*/

}
    
.nav {
    grid-auto-flow: column;
    display: grid;
    padding: 0 20px;
    justify-content: end;
    align-items: center;
    gap: 20px;
    
}
.logo {
    width: 80px;
    height: auto;
    border-radius: 8px;
    margin-top: 0;
    }

.about-btn {
    background: #222;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;  
    font-weight: bold;
    transition: background 0.2s;
    display: grid;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.about-btn:hover {
    background: var(--buttonblue);
}

.produkt {
    display: grid;
    justify-content: center;
    padding-top: 3em;
}


.p-tag {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding-bottom: 3em;
    padding-top: 2em;
}

.main-page {
    flex: 1;
}


.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    place-items: center;

}

.image-container img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.tapo-kamera{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5em 1.5em;
    font-size: 20px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    background-color: var(--headergray);
}


@media (max-width: 500px) {
    header{
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;   
    }
    header h1 {
        font-size: x-large;
    }
    footer{
        grid-template-columns: 1fr;
        justify-items: start;
        align-items: center;   
    }
    .image-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        place-items: center;
        gap: 20px;
    }
    .image-container img {
        display: block;
        border-radius: 8px;
    }
}
