





* {
    padding: 0;
    margin: 0;

}

body {
    background-color: rgb(204, 200, 200);
}
.logo {
    width: 80px;
    height: auto;
    border-radius: 8px;
    margin-top: 0;
    
}
.produkt {
    display: flex;
    justify-content: center;
    margin-top: 3em
}

.image-container {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: 100%;
    max-width: 200px;
    height: auto;
    flex: 1 1 auto;
    border-radius: 8px;
}

header {    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 8px 16px;
    background-color: rgb(148, 146, 146);

}

.about-btn {
     padding: 8px 16px;
    background: #222;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;  
    font-weight: bold;
    transition: background 0.2s;
}

.about-btn:hover {
    background: #3c5bbe;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: center;
    
}
