.bolag {
    display: grid;
    text-align: center;
    padding: 5% 0%;
    
}

.about-section {
    text-align: center;
    max-width: 900px;
    padding-bottom: 5%;
}

.person-kort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

}


.person img {
    display: inline-block;
}