

.products-container{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 3em;
    margin-top: 3em;

    /* border: dashed 1px pink; */
}

.products {
    flex: 1 0 33%;
    text-align: center;
    align-content: center;
}


.article1 {
    list-style-type: inside;
    text-align: left;
    display: inline-block;
    line-height: 1.7;
}
