


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    /* border: 1px black solid; */
    background-color: var(--headergray);
    margin-top: 3em;
}

.products-container{
    display: flex;
    flex-wrap: wrap;

    /* flex-direction: column;
    justify-content: flex-start; */

    align-items: center;
    gap: 3em;

    /* border: dashed 1px pink; */
}

.products {
    flex: 1 0 33%;
    text-align: center;
}

.add2cart {
    width: 0.5em;
    height: 0.2em;
    border: 1px var(--borderdark) solid;
    padding: 0.2em;
}

